.root {
    -color-background: #000000;
    -color-card: #1A1A1A;
    -color-border: #333333;

    -color-foreground: #FFFFFF;
    -color-muted-foreground: #B3B3B3;

    -color-primary: #65FE08;
    -color-primary-foreground: #143302;
    -color-primary-hover: #47b206;

    -color-dangerous: #FF4D4D;
    -color-dangerous-foreground: #4C1717;

    -fx-font-size: 14px;
    -fx-background-color: -color-background;
}

.button {
    -fx-background-color: -color-primary;
    -fx-text-fill: -color-primary-foreground;
    -fx-cursor: hand;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.text-field, .password-field {
    -fx-background-color: -color-background;
    -fx-text-fill: -color-foreground;
    -fx-prompt-text-fill: -color-muted-foreground;
    -fx-border-color: -color-border;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}